<?xml version="1.0" encoding="UTF-8"?>
<window><!-- Cycle 0.4 -->
<backgroundcolor>BackgroundColor</backgroundcolor>
<defaultcontrol always="true">9000</defaultcontrol>
<menucontrol>9600</menucontrol>
<controls>
<control type="button" id="9600">
	<include>HiddenControl</include>
	<onleft>ActivateWindow(1120)</onleft>
	<onright>ActivateWindow(1120)</onright>
	<onup>ActivateWindow(1120)</onup>
	<ondown>ActivateWindow(1120)</ondown>
	<onfocus>ActivateWindow(1120)</onfocus>
</control>
<control type="list" id="20001"><!-- numitems addonstatus ebene darunter -->
	<description>Hidden focus content</description>
	<include>Compaircontainer</include>
	<content>addons://user/xbmc.addon.executable/</content>
</control>
<control type="list" id="20002"><!-- numitems addonstatus ebene darunter -->
	<description>Hidden focus content</description>
	<include>Compaircontainer</include>
	<content>addons://user/xbmc.addon.video/</content>
</control>
<control type="list" id="20003"><!-- numitems addonstatus ebene darunter -->
	<description>Hidden focus content</description>
	<include>Compaircontainer</include>
	<content>addons://user/xbmc.addon.audio/</content>
</control>
<control type="list" id="20004"><!-- numitems addonstatus ebene darunter -->
	<description>Hidden focus content</description>
	<include>Compaircontainer</include>
	<content>addons://user/xbmc.addon.image/</content>
</control>
<control type="list" id="20005"><!-- numitems addonstatus ebene darunter -->
	<description>Hidden focus content</description>
	<include>Compaircontainer</include>
	<content>addons://outdated/</content>
</control>
<include condition="Skin.HasSetting(EnableVintageOverlay)">Vintagebackground</include>
<include condition="!Skin.HasSetting(EnableVintageOverlay)">Cyclebackground</include>
<include>Topbar</include><!-- topbar -->
<control type="group"><!-- slide menue -->
	<visible>!Window.IsVisible(shutdownmenu) + !Window.IsVisible(Custom_1120_Options.xml) + !Window.IsVisible(favourites) + !Window.IsVisible(playercontrols)</visible>
	<include>Animation375-OpenCloseVisibleHidden-Slide</include>
	<include>SettingMenu-BG</include><!-- Hintergrund -->
	<include>SettingMenu-IconBG</include>
	<include>SettingMenu-Breadcumb</include>
	<control type="image">
		<description>Kodi logo</description>
		<left>110</left>
		<top>990</top>
		<width>200</width>
		<height>77</height>
		<texture>logo.png</texture>
		<visible>Window.IsVisible(settings)</visible>
	</control>
	<control type="grouplist" id="9000"><!-- Menue -->
		<description>Menue</description>
		<left>100</left>
		<top>150</top>
		<include>SettingMenu-ListDimension</include>
		<onleft>back</onleft>
		<onright condition="Control.HasFocus(8101)">ActivateWindow(PlayerSettings)</onright>
		<onright condition="Control.HasFocus(8102)">ActivateWindow(MediaSettings)</onright>
		<onright condition="Control.HasFocus(8103)">ActivateWindow(ServiceSettings)</onright>
		<onright condition="Control.HasFocus(8104)">ActivateWindow(InterfaceSettings)</onright>
		<onright condition="Control.HasFocus(8105)">ActivateWindow(skinsettings)</onright>
		<onright condition="Control.HasFocus(8106)">ActivateWindow(profiles)</onright>
		<onright condition="Control.HasFocus(8107)">ActivateWindow(SystemSettings)</onright>
		<onright condition="Control.HasFocus(8108)">ActivateWindow(systeminfo)</onright>
		<onright condition="Control.HasFocus(8110)">ActivateWindow(addonbrowser)</onright>
		<onup>9000</onup>
		<ondown>9000</ondown>
		<control type="button" id="8101">
			<description>PlayerSettings</description>
			<onclick>ActivateWindow(PlayerSettings)</onclick>
			<include>SettingMenu-MenueButton</include>
			<label>Player</label>
		</control>
		<control type="button" id="8103">
			<description>ServiceSettings</description>
			<onclick>ActivateWindow(ServiceSettings)</onclick>
			<include>SettingMenu-MenueButton</include>
			<label>Dienste</label>
		</control>
		<control type="button" id="8104">
			<description>InterfaceSettings</description>
			<onclick>ActivateWindow(InterfaceSettings)</onclick>
			<include>SettingMenu-MenueButton</include>
			<label>Oberfläche</label>
		</control>
		<control type="button" id="8106">
			<description>ProfilSettings</description>
			<onclick>ActivateWindow(profiles)</onclick>
			<include>SettingMenu-MenueButton</include>
			<label>Benutzerprofile</label>
		</control>
		<control type="button" id="8107">
			<description>SystemSettings</description>
			<onclick>ActivateWindow(SystemSettings)</onclick>
			<include>SettingMenu-MenueButton</include>
			<label>System</label>
		</control>
		<control type="button" id="8108">
			<description>Systeminfo</description>
			<onclick>ActivateWindow(systeminfo)</onclick>
			<include>SettingMenu-MenueButton</include>
			<label>Systeminfo</label>
		</control>
		<control type="button" id="8110">
			<description>AddonBrowser</description>
			<onclick>ActivateWindow(addonbrowser)</onclick>
			<include>SettingMenu-MenueButton</include>
			<label>AddonBrowser</label>
		</control>
		<control type="button" id="8102">
			<description>MediaSettings</description>
			<onclick>ActivateWindow(MediaSettings)</onclick>
			<include>SettingMenu-MenueButton</include>
			<label>Bibliothek</label>
		</control>
		<control type="button" id="8105">
			<description>SkinSettings</description>
			<onclick>ActivateWindow(skinsettings)</onclick>
			<include>SettingMenu-MenueButton</include>
			<label>Skin Einstellen</label>
		</control>
	</control>
	<control type="grouplist">
		<description>Menue Icons</description>
		<left>20</left>
		<top>150</top>
		<include>SettingMenu-ListDimension</include>
		<control type="label">
			<description>PlayerSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>S</label>
			<visible>Control.HasFocus(8101)</visible>
			<include>SidebarIcon-ColorFO</include>
		</control>
		<control type="label">
			<description>PlayerSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>S</label>
			<visible>!Control.HasFocus(8101)</visible>
			<include>SidebarIcon-ColorNF</include>
		</control>
		<control type="label">
			<description>ServiceSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>Ħ</label>
			<visible>Control.HasFocus(8103)</visible>
			<include>SidebarIcon-ColorFO</include>
		</control>
		<control type="label">
			<description>ServiceSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>Ħ</label>
			<visible>!Control.HasFocus(8103)</visible>
			<include>SidebarIcon-ColorNF</include>
		</control>
		<control type="label">
			<description>Benutzeroberfläche Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>ĥ</label>
			<visible>Control.HasFocus(8104)</visible>
			<include>SidebarIcon-ColorFO</include>
		</control>
		<control type="label">
			<description>Benutzeroberfläche Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>ĥ</label>
			<include>SidebarIcon-ColorNF</include>
			<visible>!Control.HasFocus(8104)</visible>
		</control>
		<control type="label">
			<description>Profiles Settings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>s</label>
			<visible>Control.HasFocus(8106)</visible>
			<include>SidebarIcon-ColorFO</include>
		</control>
		<control type="label">
			<description>Profiles Settings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>s</label>
			<visible>!Control.HasFocus(8106)</visible>
			<include>SidebarIcon-ColorNF</include>
		</control>
		<control type="label">
			<description>SystemSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>ĭ</label>
			<visible>Control.HasFocus(8107)</visible>
			<include>SidebarIcon-ColorFO</include>
		</control>
		<control type="label">
			<description>SystemSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>ĭ</label>
			<visible>!Control.HasFocus(8107)</visible>
			<include>SidebarIcon-ColorNF</include>
		</control>
		<control type="label">
			<description>Systeminfo Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>È</label>
			<visible>Control.HasFocus(8108)</visible>
			<include>SidebarIcon-ColorFO</include>
		</control>
		<control type="label">
			<description>Systeminfo Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>È</label>
			<visible>!Control.HasFocus(8108)</visible>
			<include>SidebarIcon-ColorNF</include>
		</control>
		<control type="label">
			<description>AddonBrowser Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>Ĝ</label>
			<visible>Control.HasFocus(8110)</visible>
			<include>SidebarIcon-ColorFO</include>
		</control>
		<control type="label">
			<description>AddonBrowser Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>Ĝ</label>
			<visible>!Control.HasFocus(8110)</visible>
			<include>SidebarIcon-ColorNF</include>
		</control>
		<control type="label">
			<description>MediaSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>ǝ</label>
			<visible>Control.HasFocus(8102)</visible>
			<include>SidebarIcon-ColorFO</include>
		</control>
		<control type="label">
			<description>MediaSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>ǝ</label>
			<include>SidebarIcon-ColorNF</include>
			<visible>!Control.HasFocus(8102)</visible>
		</control>
		<control type="label">
			<description>SkinSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>Ě</label>
			<visible>Control.HasFocus(8105)</visible>
			<include>SidebarIcon-ColorFO</include>
		</control>
		<control type="label">
			<description>SkinSettings Icon</description>
			<include>SidebarIcon-Dimension</include>
			<label>Ě</label>
			<visible>!Control.HasFocus(8105)</visible>
			<include>SidebarIcon-ColorNF</include>
		</control>
	</control>
</control>
<control type="group"><!-- info Overview -->
	<left>550</left>
	<top>150</top>
	<include>Animation-OpenCloseVisibleHidden-Fade</include>
	<control type="group"><!-- info kodi Overview -->
		<visible>!Control.HasFocus(8102) + !Control.HasFocus(8105) + !Control.HasFocus(8110)</visible>
		<include>Animation-OpenCloseVisibleHidden-Fade</include>
		<include>Settings-Overview</include>
	</control>
	<control type="group"><!-- info DBOverview -->
		<visible>Control.HasFocus(8102)</visible>
		<include>Animation-OpenCloseVisibleHidden-Fade</include>
		<include>Settings-DBOverview</include>
	</control>
	<control type="group"><!-- info SkinOverview -->
		<visible>Control.HasFocus(8105)</visible>
		<include>Animation-OpenCloseVisibleHidden-Fade</include>
		<include>Settings-SkinOverview</include>
	</control>
	<control type="group"><!-- info AddonOverview -->
		<visible>Control.HasFocus(8110)</visible>
		<include>Animation-OpenCloseVisibleHidden-Fade</include>
		<include>Settings-AddonOverview</include>
	</control>
</control>
</controls>
</window>